<form class="c-form" action="{{ url_for('cliente.inserir_cliente') }}" method="POST">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome">
    </div>
  
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email">
    </div>
  
    <button type="submit" class="btn btn-primary">Adicionar Cliente</button>
</form>
